<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Request List</title>
    <link rel="stylesheet" href="/static/css/blood_request_list.css">
</head>
<body>
    <h1>Blood Request List</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Blood Type</th>
                <th>Age</th>
                <th>Disease</th>
                <th>Need Within Date</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="row-number">{{ forloop.counter }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.address }}</td>
                <td>{{ request.blood_type }}</td>
                <td>{{ request.age }}</td>
                <td>{{ request.disease }}</td>
                <td>{{ request.need_within_date }}</td>
                <td>{{ request.phone_number }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <form method="post" action="{% url 'update_blood_request' request.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">Update</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'delete_blood_request' request.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="script.js"></script>
</body>
</html>
