<!-- templates/blood_donors/donor_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor List</title>
    <link rel="stylesheet" href="/static/css/donor_list.css">
   
</head>

<body>
    <h1>List of Donors</h1>
    <!-- Search Bar -->
    <div class="search-container">
        <form action="{% url 'donor_list' %}" method="GET">
            <!-- Blood Group Search -->
            <label for="blood_group">Blood Group:</label>
            <select name="blood_group" id="blood_group">
                <option value="">All</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
                <option value="O-">O-</option>
                <!-- Add other blood group options here -->
            </select>
            
            <!-- Location Search -->
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="Enter location">
    
            <button type="submit">Search</button>
        </form>

    </div>
    <h2>Donor Counter</h2>
    <p class="counter">Number of donors: {{ donor_count }}</p>

    <h2>Blood Type Counts</h2>
    <ul>
        {% for blood_type_count in blood_type_counts %}
            <li>{{ blood_type_count.blood_type }}: {{ blood_type_count.count }}</li>
        {% endfor %}
    </ul>
    <!-- Donor List Table -->
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Blood Type</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for donor in donors %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ donor.name }}</td>
                <td>{{ donor.email }}</td>
                <td>{{ donor.blood_type }}</td>
                <td>{{ donor.phone_number }}</td>
                <td>{{ donor.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>