<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <link rel="stylesheet" href="/static/css/event_list.css">
</head>
<body>
    <h1>Event List</h1>
    <ul class="event-list">
        {% for event in events %}
            <li class="event-item">
                <div>
                    {{ event.name }} - {{ event.date }} - {{ event.location }} - {{ event.status }}
                </div>
                <div>
                    <form action="{% url 'update_event' event.id %}" method="get">
                        <button class="update-btn" type="submit">Update</button>
                    </form>
                </div>
                <div>
                    <form class="delete-form" action="{% url 'delete_event' event.id %}" method="post">
                        {% csrf_token %}
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    <script src="/static/js/event_list.js"></script>
</body>
</html>
