<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register_hospital.css">
</head>

<body>
    <div class="container">
        <h1>Hospital Registration</h1>
        <form id="hospitalForm" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Register</button>
        </form>
    </div>

    <script src="/static/js/register_hospital.js"></script>
</body>

</html>